In [13]:
import pandas as pd

In [14]:
car_data = pd.read_csv('data/raw/car_raw.csv', index_col=0)
car_data['year_created' ] = car_data['_created'].apply(lambda x: x[:4]).astype(int)
car_data['antique'] = car_data['year_created'] - car_data['years']
final_vars = ['price', 'antique', 'vehicle_make', 'vehicle_line', 'kilometraje', 'location_city', 'location_state']
car_data = car_data[final_vars]

In [19]:
car_data

,price,antique,vehicle_make,vehicle_line,kilometraje,location_city,location_state
0,58000000,8,Suzuki,Grand,54700,Suba,Bogotá D.C.
1,82000000,5,Mazda,3,55300,Envigado,Antioquia
2,15000000,19,Renault,Symbol,250209,Medellín,Antioquia
3,22000000,12,Chery,Qq,58576,Suba,Bogotá D.C.
4,119500000,1,Mazda,Cx-30,27100,Suba,Bogotá D.C.
...,...,...,...,...,...,...,...
3505,59500000,3,Chevrolet,Onix,24000,Santa Fe,Bogotá D.C.
3506,65000000,6,Mazda,2,56000,Usaquén,Bogotá D.C.
3507,102000000,4,Mercedes-benz,A,45000,Usaquén,Bogotá D.C.
3508,63000000,5,Suzuki,Grand,105400,Usaquén,Bogotá D.C.
3509,150000000,5,Mitsubishi,Montero,18500,Fontibón,Bogotá D.C.

In [20]:
import joblib

In [21]:
model = joblib.load('models/final_pipeline.joblib')

In [23]:
car_data['predict'] = model.predict(car_data.drop(columns='price'))

[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8

In [24]:
car_data

,price,antique,vehicle_make,vehicle_line,kilometraje,location_city,location_state,predict
0,58000000,8,Suzuki,Grand,54700,Suba,Bogotá D.C.,6.916011e+07
1,82000000,5,Mazda,3,55300,Envigado,Antioquia,8.052902e+07
2,15000000,19,Renault,Symbol,250209,Medellín,Antioquia,1.015839e+07
3,22000000,12,Chery,Qq,58576,Suba,Bogotá D.C.,3.459092e+07
4,119500000,1,Mazda,Cx-30,27100,Suba,Bogotá D.C.,1.238528e+08
...,...,...,...,...,...,...,...,...
3505,59500000,3,Chevrolet,Onix,24000,Santa Fe,Bogotá D.C.,6.863390e+07
3506,65000000,6,Mazda,2,56000,Usaquén,Bogotá D.C.,6.281322e+07
3507,102000000,4,Mercedes-benz,A,45000,Usaquén,Bogotá D.C.,1.321727e+08
3508,63000000,5,Suzuki,Grand,105400,Usaquén,Bogotá D.C.,7.677957e+07
3509,150000000,5,Mitsubishi,Montero,18500,Fontibón,Bogotá D.C.,1.419314e+08