In [13]:
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [9]:
X_test = pd.read_csv('./data/processed/X_test_tranformed.csv')
X_train = pd.read_csv('./data/processed/X_train_transformed.csv')

In [10]:
X_test

,Unnamed: 0,antique,vehicle_make,vehicle_line,kilometraje,location_city,location_state,price
0,2682,0.142857,0.428571,0.233766,0.096454,0.500000,0.00,32000000
1,4285,0.171429,0.800000,0.831169,0.100764,0.666667,0.00,70000000
2,2771,0.085714,0.828571,0.694805,0.044615,0.166667,0.00,45900000
3,376,0.142857,0.971429,0.935065,0.232981,0.000000,0.00,130000000
4,4595,0.028571,0.400000,0.331169,0.014560,0.666667,0.00,64500000
...,...,...,...,...,...,...,...,...
494,4556,0.071429,0.514286,0.759740,0.034946,0.733333,0.00,84000000
495,5184,0.157143,0.314286,0.694805,0.158427,0.866667,0.75,67900000
496,4147,0.114286,0.228571,0.779221,0.157262,0.166667,0.00,95000000
497,3513,0.028571,0.514286,0.512987,0.026442,0.500000,0.00,125000000
498,735,0.142857,0.485714,0.694805,0.130469,0.666667,0.00,43500000

## modelo dummy

In [12]:
y_pred = X_train['price'].mean()

In [14]:
X_test['predict_dummy'] = y_pred

In [15]:
y_pred = X_test['predict_dummy']
y_test = X_test['price']

In [16]:
mse = mean_squared_error(X_test['price'], y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

report = {
    'mse': mse,
    'mae': mae,
    'r2': r2}

In [17]:
report

{'mse': 3641380187262935.5,
 'mae': 43593721.88160241,
 'r2': -0.00015927528231296506}

## Mean by make

In [22]:
predict = X_train.groupby('vehicle_make').mean().reset_index()[['vehicle_make', 'price']]

In [23]:
predict

    vehicle_make         price
0       0.000000  3.247143e+07
1       0.028571  3.401667e+07
2       0.057143  3.680000e+07
3       0.085714  3.938000e+07
4       0.114286  4.435455e+07
5       0.142857  4.887763e+07
6       0.171429  4.956445e+07
7       0.200000  5.214286e+07
8       0.228571  5.699872e+07
9       0.257143  5.843176e+07
10      0.285714  5.879645e+07
11      0.314286  5.907661e+07
12      0.342857  5.917857e+07
13      0.371429  6.007458e+07
14      0.400000  6.094815e+07
15      0.428571  6.285016e+07
16      0.457143  6.467073e+07
17      0.485714  6.788988e+07
18      0.514286  6.917372e+07
19      0.542857  7.108625e+07
20      0.571429  7.979061e+07
21      0.600000  8.572742e+07
22      0.628571  8.685136e+07
23      0.657143  9.758182e+07
24      0.685714  9.994761e+07
25      0.714286  1.045530e+08
26      0.742857  1.118346e+08
27      0.771429  1.242457e+08
28      0.800000  1.253444e+08
29      0.828571  1.280147e+08
30      0.857143  1.308327e+08
31      0.885714  1.348000e+08
32      0.914286  1.497714e+08
33      0.942857  1.714000e+08
34      0.971429  1.722420e+08
35      1.000000  3.234875e+08

In [25]:
X_test = X_test.merge(predict, on ='vehicle_make')

In [27]:
y_pred = X_test['price_y']
y_test = X_test['price_x']

In [28]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

report = {
    'mse': mse,
    'mae': mae,
    'r2': r2}

In [29]:
report

{'mse': 2400530813504762.5, 'mae': 33268153.53344114, 'r2': 0.3406584769352401}