In [10]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import boto3
import os
session = boto3.Session(profile_name='personal')

# Crear un recurso de S3 usando la sesión
s3 = session.client('s3')
def download_files_from_s3(bucket_name, download_directory):
    paginator = s3.get_paginator('list_objects_v2')
    for page in paginator.paginate(Bucket=bucket_name):
        for obj in page.get('Contents', []):
            local_file_path = os.path.join(download_directory, obj['Key'])
            os.makedirs(os.path.dirname(local_file_path), exist_ok=True)
            s3.download_file(bucket_name, obj['Key'], local_file_path)
            print(f"Descargado: {local_file_path}")

# Llama a la función para descargar los archivos
download_files_from_s3('scraper-meli', 'data/raw')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
import pandas as pd
import glob
import os

# Especifica el directorio donde se encuentran los archivos CSV
path = 'data/raw' # Reemplaza con la ruta a tu carpeta
all_files = glob.glob(os.path.join(path, "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [23]:
frame = frame.drop_duplicates(subset='id', keep='last')

In [24]:
frame

,Unnamed: 0,product,price,link,years,kilometraje,_created,vehicle_make,vehicle_line,id,location_city,location_state
0,0,Suzuki Grand Vitara 2.4 Glx 4x4,58000000,https://carro.mercadolibre.com.co/MCO-22205942...,2016,54700,2024-02-24 13:24:53,Suzuki,Grand,2220594212,Suba,Bogotá D.C.
1,1,Mazda 3 2.0 Grand Touring Lx,82000000,https://carro.mercadolibre.com.co/MCO-22196537...,2019,55300,2024-02-24 13:24:53,Mazda,3,2219653768,Envigado,Antioquia
2,2,Renault Symbol 1.4 Alize,15000000,https://carro.mercadolibre.com.co/MCO-22196533...,2005,250209,2024-02-24 13:24:53,Renault,Symbol,2219653342,Medellín,Antioquia
3,3,Chery Qq 6 1.3 Mt,22000000,https://carro.mercadolibre.com.co/MCO-22196084...,2012,58576,2024-02-24 13:24:53,Chery,Qq,2219608426,Suba,Bogotá D.C.
4,4,Mazda Cx-30 2.0 Grand Touring At Hibrido Liger...,119500000,https://carro.mercadolibre.com.co/MCO-22196525...,2023,27100,2024-02-24 13:24:53,Mazda,Cx-30,2219652592,Suba,Bogotá D.C.
...,...,...,...,...,...,...,...,...,...,...,...,...
2449,43,Renault Sandero Authentique/life,41500000,https://carro.mercadolibre.com.co/MCO-22308257...,2019,34400,2024-02-29,Renault,Sandero,2230825768,Engativa,Bogotá D.C.
2450,44,Mercedes-benz Cla 180 Amg Line,151000000,https://carro.mercadolibre.com.co/MCO-22308129...,2022,12950,2024-02-29,Mercedes-benz,Cla,2230812908,Usaquén,Bogotá D.C.
2451,45,Audi Q5 2.0 Tdi Quattro Ambition,135000000,https://carro.mercadolibre.com.co/MCO-22308250...,2018,76025,2024-02-29,Audi,Q5,2230825012,Fontibón,Bogotá D.C.
2452,46,Jeep Wrangler Sport,145000000,https://carro.mercadolibre.com.co/MCO-13968286...,2018,109000,2024-02-29,Jeep,Wrangler,1396828659,Chapinero,Bogotá D.C.
2453,47,Mercedes-benz Gla 200 Urban,130000000,https://carro.mercadolibre.com.co/MCO-22307758...,2020,26000,2024-02-29,Mercedes-benz,Gla,2230775860,Usaquén,Bogotá D.C.